.app__header {
  background-color: var(--color-black);
}

.app__wrapper_info h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--color-golden);
  text-transform: uppercase;
  line-height: 117px;
  font-family: var(--font-base);
}
